Flask==2.3.2
gunicorn=21.2.0Flask==2.3.2
numpy==2.3.4
opencv-python==4.13.0
pandas==2.1.1
gunicorn==25.1.0
aiohappyeyeballs==2.6.1
requests==2.31.0
click==8.3.1
blinker==1.9.0
Werkzeug==3.1.6
Jinja2==3.1.6
itsdangerous==2.2.0
colorama==0.4.6
charset-normalizer==3.4.5
idna==3.11
urllib3==2.6.3
certifi==2026.2.25
MarkupSafe==3.0.3